%table
  %thead
    %tr
      %td email
      %td sign in count
      %td created
  %tbody
    - @users.each do |user|
      %tr
        %td
          = link_to user.email, admin_user_path(id: user.id)
        %td
          = user.sign_in_count
        %td
          = user.created_at
